.typography {
  .page-header {
    width: 70%;
    padding-bottom: 20px;

    h1 {
      font-size: 84px;
    }
  }

  .content-sidekick {
    &.overlap {
      position: relative;

      .content__text {
        width: 61%;
        z-index: 1;
        background-color: $color-white;
        padding-top: 45px;
        margin-top: 90px;
      }

      .content__image {
        position: absolute;
        width: 477px;
        height: 350px;
        right: 0;
        top: -150px;
      }
    }

    &.legibility {
      .content__text {
        width: 74%;
      }
    }
  }

  .content__text {
    width: 68%;

    &.font {
      width: 100%;

      .content__text-inner-pre-title {
        color: $color-regent-gray;
        font-family: $font-gotham-ss;
        font-size: 11px;
        font-style: italic;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 13px;
      }

      .content__text-inner-title {
        font-size: 25px;
        font-weight: 300;
        line-height: 27px;
        margin-bottom: 0;
      }

      .content__text-inner-sub-title {
        color: $color-regent-gray;
        font-size: 17px;
        font-weight: normal;
        margin: 0;
      }

      .content__text-inner-text {
        font-size: 17px;
        line-height: 27px;
      }

      .medium {
        font-weight: 500;
      }

      .bold {
        font-weight: bold;
      }

      .italic {
        font-style: italic;
      }

      .semi-bold {
        font-weight: 600;
      }

      a {
        font-family: $font-sectra;
        font-size: 17px;
        font-weight: 300;
        line-height: 27px;
        display: inline-block;
        margin-bottom: 38px;
      }

      &.gotham {
        font-family: $font-gotham-ss;

        .content__text-inner-pre-title {
          width: 153px;
        }
      }

      &.sectra {
        font-family: $font-sectra;

        .content__text-inner-pre-title {
          width: 120px;
        }
      }

      &.whitney {
        font-family: $font-whitney;

        .content__text-inner-pre-title {
          width: 165px;
        }
      }

      &.arial {
        font-family: Arial;
        width: 100%;

        .content__text-inner-sub-title {
          padding-bottom: 15px;
        }
      }

      &.georgia {
        font-family: Georgia;
        width: 100%;

        .content__text-inner-sub-title {
          padding-bottom: 15px;
        }
      }

      .content__text-inner-text {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        span {
          display: inline-block;
          width: 47%;
        }
      }
    }

    &.legibility {
      width: 73%;
    }
  }

  .separator {
    margin: 80px 0;

    &.slate-lt {
      border-color: $color-regent-gray;
      margin-bottom: 16px;
    }
  }

  /*
 * Tabs
 * Style the tab
 */

  .content__tab {
    margin-top: 80px;

    .tab-panel {
      overflow: hidden;
      color: $color-regent-gray;
      margin-bottom: 33px;
    }

    /* Style the buttons inside the tab */
    .tab-panel button {
      font-family: $font-gotham;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 22px;
      color: $color-regent-gray;
      background-color: transparent;
      float: left;
      border-bottom: 2px solid $color-regent-gray;
      outline: none;
      cursor: pointer;
      padding: 11px 0;
      transition: 0.3s;
      margin-right: 60px;
    }

    /* Create an active/current tablink class */
    .tab-panel button.active {
      color: $color-fire;
      border-color: $color-fire;
    }

    /* Style the tab content */
    .tab-content {
      display: none;
      padding: 50px 0 0;
      border-top: 1px solid $color-gray--e;

      &.active {
        display: block;
      }
    }
  }

  /* Tabs */

  /*
 *  CONTENT ROW
 */

  .content__row {
    .content__row-title {
      padding-bottom: 40px;

      .content__text-inner {
        width: 90%;
        padding: 0;

        em {
          font-weight: bold;
        }
      }
    }

    .content__row-body {
      font-family: $font-gotham;
      display: flex;
      justify-content: space-between;

      .content__row-col {
        width: 49%;
        border-top: $color-regent-gray solid 1px;
        margin-top: 50px;

        .content-sidekick {
          margin-top: 17px;

          .content__text {
            width: 100%;
            font-size: 14px;
            line-height: 24px;
            color: $color-regent-gray;
            margin-bottom: 15px;

            .content__text-inner-pre-title {
              color: $color-regent-gray;
              font-family: $font-gotham-ss;
              font-size: 11px;
              font-style: italic;
              font-weight: 500;
              letter-spacing: 1px;
              line-height: 13px;
              text-transform: uppercase;
            }

            .content__text-inner-title {
              font-size: 25px;
              font-weight: 300;
              line-height: 27px;
              margin-bottom: 5px;
              margin-top: 30px;

              &.header1 {
                color: $color-fire;
                font-family: $font-sectra;
                font-size: 22px;
                font-weight: bold;
                font-style: italic;
              }

              &.subhead1 {
                color: $color-fire;
                font-size: 12px;
                font-weight: bold;
              }

              &.header2 {
                color: $color-slate;
                font-size: 12px;
                font-weight: 500;
              }

              &.subhead2 {
                color: $color-slate;
                font-size: 9.5px;
                font-weight: 500;
                border-left: 1px solid $color-mint;
                padding-left: 10px;
                line-height: 15px;
              }

              &.header3 {
                color: $color-fire;
                font-size: 9px;
                font-weight: bold;
              }

              &.body-copy {
                color: $color-slate;
                font-size: 9px;
                font-weight: 300;
                line-height: 12px;
              }

              &.ref {
                color: $color-regent-gray;
                font-size: 6px;
                font-weight: bold;
                line-height: 8px;
              }

              &.web {
                &.navigation-un {
                  color: $color-lt-grey-80;
                  font-family: $font-gotham-ss;
                  font-size: 12.5px;
                  font-weight: bold;
                  line-height: 27px;
                }

                &.navigation-sel {
                  color: $color-slate;
                  font-family: $font-gotham-ss;
                  font-size: 12.5px;
                  font-weight: bold;
                  line-height: 27px;
                }

                &.header1 {
                  color: $color-slate;
                  font-family: $font-sectra;
                  font-size: 84px;
                  font-weight: 300;
                  line-height: 60px;
                  font-style: normal;
                  padding-bottom: 15px;
                  @include underline($color-fire, $color-white, 1px, 15px);
                  display: inline-block;
                }

                &.header2 {
                  color: $color-green--dark;
                  font-family: $font-sectra;
                  font-size: 56px;
                  font-weight: 300;
                  line-height: 54px;
                }

                &.header3 {
                  color: $color-slate;
                  font-family: $font-sectra;
                  font-size: 36px;
                  font-weight: 300;
                  line-height: 42px;

                  span {
                    color: $color-fire;
                  }
                }

                &.caption1 {
                  color: $color-slate--dark;
                  font-family: $font-sectra;
                  font-size: 36px;
                  font-weight: 300;
                  line-height: 42px;
                }

                &.body1 {
                  color: $color-slate;
                  font-family: $font-sectra;
                  font-size: 36px;
                  font-weight: 300;
                  line-height: 40px;
                }

                &.body2 {
                  color: $color-slate;
                  font-family: $font-gotham-ss;
                  font-size: 14px;
                  font-weight: 300;
                  line-height: 22px;

                  span {
                    font-weight: 500;
                  }
                }

                &.body3 {
                  color: $color-regent-gray;
                  font-family: $font-gotham-ss;
                  font-size: 14px;
                  font-weight: 300;
                  line-height: 24px;
                }

                &.body4 {
                  color: $color-slate--dark;
                  font-family: $font-gotham-ss;
                  font-size: 14px;
                  font-weight: 300;
                  line-height: 24px;
                }

                &.body5 {
                  color: $color-regent-gray;
                  font-family: $font-sectra;
                  font-size: 18px;
                  font-weight: 300;
                  line-height: 30px;
                }

                &.table-header {
                  color: $color-regent-gray;
                  font-family: $font-gotham-ss;
                  font-size: 13px;
                  font-weight: 500;
                  line-height: 16px;
                }

                &.table-content {
                  color: $color-slate--dark;
                  font-family: $font-gotham-ss;
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 15px;
                }
              }

              &.figure-header {
                color: $color-white;
                font-family: $font-gotham-ss;
                font-size: 7px;
                background-color: $color-slate;
                display: inline-block;
                padding: 4px;
                line-height: 7px;
              }

              &.important-note {
                border: 1px solid $color-fire;
                color: $color-fire;
                font-family: $font-gotham-ss;
                font-size: 7px;
                line-height: 10px;
                padding: 5px;

                span {
                  text-transform: uppercase;
                  font-weight: bold;
                }
              }

              &.functional {
                &.header1 {
                  color: $color-slate;
                  font-family: $font-gotham-ss;
                  font-size: 22px;
                  font-weight: bold;
                  font-style: normal;
                  background-image: none;
                }

                &.header3 {
                  color: $color-fire;
                }

                &.web {
                  &.navigation-un {
                    color: $color-regent-gray;
                    font-family: $font-whitney;
                    font-size: 11px;
                    font-weight: bold;
                    line-height: 27px;
                  }

                  &.navigation-sel {
                    color: $color-solid-teal;
                    font-family: $font-whitney;
                    font-size: 11px;
                    font-weight: bold;
                    line-height: 27px;
                  }

                  &.header1 {
                    color: $color-solid-orange;
                    font-family: $font-sectra;
                    font-size: 36px;
                    font-weight: 300;
                    line-height: 44px;
                    font-style: normal;
                  }

                  &.body1 {
                    color: $color-slate;
                    font-family: $font-whitney;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 26px;
                  }

                  &.table-content1 {
                    color: $color-slate;
                    font-family: $font-whitney;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 15px;
                  }

                  &.table-content2 {
                    color: $color-solid-teal;
                    font-family: $font-whitney;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 15px;
                  }

                  &.table-body {
                    color: $color-regent-gray;
                    font-family: $font-whitney;
                    font-size: 10px;
                    font-weight: 500;
                    line-height: 11px;
                  }
                }
              }
            }

            .content__text-inner-sub-title {
              color: $color-regent-gray;
              font-size: 14px;
              font-weight: normal;
              margin: 0;
            }

            .content__text-inner-text {
              font-size: 17px;
              line-height: 27px;
            }
          }

          .content__image {
            img {
              width: 31px;
              height: 31px;
              margin-right: 10px;
              margin-bottom: 24px;
            }

            &.pattern-usage img {
              width: 176px;
              height: 232px;
              margin-top: 33px;
              margin-bottom: 30px;
            }

            &.standard-footer img {
              width: 340px;
              height: 20px;
              margin-top: 33px;
              margin-bottom: 20px;
            }

            &.to-learn img {
              width: 436px;
              height: 42px;
              margin-top: 33px;
            }
          }
        }
      }
    }

    &.consistency {
      .content__row-title {
        .content__text {
          width: 60%;
        }
      }

      .content__row-body {
        display: block;

        .content-sidekick {
          display: flex;
          justify-content: space-between;

          .content__text {
            width: 334px;
            padding-top: 32px;
            font-family: $font-gotham-ss;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            color: $color-regent-gray;

            .content__text-inner {
              font-size: 12px;
              line-height: 22px;
              font-weight: 500;
              padding: 0;
            }

            h3 {
              font-size: 14px;
              text-transform: uppercase;
              font-weight: 600;
              margin: 0;
            }
          }

          img {
            width: 319px;
            height: 413px;
          }

          .content__image {
            position: relative;
          }

          .content__image::after {
            content: "";
            display: block;
            height: 1px;
            background-color: $color-regent-gray;
            position: absolute;
            top: 70px;
          }

          &.print {
            padding-bottom: 127px;

            .content__text {
              width: 32%;
            }

            .content__image {
              position: relative;

              img {
                width: 432px;
                height: 476px;
              }
            }

            .content__image::after {
              width: 200px;
              left: 448px;
            }
          }

          &.web {
            .content__text {
              width: 31%;
            }

            img {
              width: 549px;
              height: 319px;
            }

            .content__image::after {
              width: 130px;
              left: 522px;
            }
          }
        }
      }

      &.functional {
        .content__row-body {
          .content-sidekick {
            &.print {
              .content__text {
                width: 30%;
              }

              .content__image {
                img {
                  width: 319px;
                  height: 413px;
                }
              }

              .content__image::after {
                width: 292px;
                left: 358px;
              }
            }

            &.web {
              padding-bottom: 127px;

              .content__text {
                width: 31%;
              }

              .content__image {
                img {
                  width: 417px;
                  height: 503px;
                }
              }

              .content__image::after {
                width: 192px;
                left: 458px;
              }
            }

            &.system {
              .content__text {
                width: 31%;
              }

              .content__image {
                img {
                  width: 564px;
                  height: 313px;
                }
              }

              .content__image::after {
                width: 80px;
                left: 579px;
              }
            }
          }
        }
      }
    }
  }

  /*
   *  CONTENT ROW END
   */
}
